src/main/java/plugins/fmp/multiSPOTS96/schemas/MCdrosotrack.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           elementFormDefault="qualified" 
           attributeFormDefault="unqualified">
  
  <!-- Root element for MCdrosotrack cages -->
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Cages" type="CagesType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- Cages Type -->
  <xs:complexType name="CagesType">
    <xs:sequence>
      <xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="n_cages" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="N_cages_along_X" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="N_cages_along_Y" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="N_columns_per_cage" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="N_rows_per_cage" type="xs:positiveInteger" use="required"/>
  </xs:complexType>
  
  <!-- Cage Type -->
  <xs:complexType name="CageType">
    <xs:sequence>
      <xs:element name="CageLimits" type="ROIType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ID" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Pos" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="aIndex" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="aCol" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="aRow" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="nflies" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="age" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="comment" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="sex" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="strain" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="color_R" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="color_G" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="color_B" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="SpotsArray" type="SpotsArrayType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- ROI Type -->
  <xs:complexType name="ROIType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="x" type="xs:double" minOccurs="0" maxOccurs="1"/>
      <xs:element name="y" type="xs:double" minOccurs="0" maxOccurs="1"/>
      <xs:element name="width" type="xs:double" minOccurs="0" maxOccurs="1"/>
      <xs:element name="height" type="xs:double" minOccurs="0" maxOccurs="1"/>
      <xs:element name="points" type="PointsType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Points Type for polygon ROIs -->
  <xs:complexType name="PointsType">
    <xs:sequence>
      <xs:element name="point" type="PointType" minOccurs="2" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Point Type -->
  <xs:complexType name="PointType">
    <xs:sequence>
      <xs:element name="x" type="xs:double" minOccurs="1" maxOccurs="1"/>
      <xs:element name="y" type="xs:double" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- SpotsArray Type -->
  <xs:complexType name="SpotsArrayType">
    <xs:sequence>
      <xs:element name="Spot" type="SpotType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="n_spots" type="xs:nonNegativeInteger" use="optional"/>
  </xs:complexType>
  
  <!-- Spot Type -->
  <xs:complexType name="SpotType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="x" type="xs:double" minOccurs="0" maxOccurs="1"/>
      <xs:element name="y" type="xs:double" minOccurs="0" maxOccurs="1"/>
      <xs:element name="width" type="xs:double" minOccurs="0" maxOccurs="1"/>
      <xs:element name="height" type="xs:double" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ROI" type="ROIType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="properties" type="SpotPropertiesType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Spot Properties Type -->
  <xs:complexType name="SpotPropertiesType">
    <xs:sequence>
      <xs:element name="color" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="visible" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="selected" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema> 