src/main/java/plugins/fmp/multiSPOTS96/schemas/MS96_experiment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           elementFormDefault="qualified" 
           attributeFormDefault="unqualified">
  
  <!-- Root element for MS96 experiment -->
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MCexperiment" type="MCexperimentType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- MCexperiment Type -->
  <xs:complexType name="MCexperimentType">
    <xs:sequence>
      <xs:element name="version" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="indexFrameFirst" type="xs:long" minOccurs="1" maxOccurs="1"/>
      <xs:element name="nFrames" type="xs:long" minOccurs="1" maxOccurs="1"/>
      <xs:element name="fileTimeImageFirstMs" type="xs:long" minOccurs="1" maxOccurs="1"/>
      <xs:element name="fileTimeImageLastMs" type="xs:long" minOccurs="1" maxOccurs="1"/>
      <xs:element name="indexFrameDelta" type="xs:long" minOccurs="1" maxOccurs="1"/>
      <xs:element name="firstKymoColMs" type="xs:long" minOccurs="0" maxOccurs="1"/>
      <xs:element name="lastKymoColMs" type="xs:long" minOccurs="0" maxOccurs="1"/>
      <xs:element name="binKymoColMs" type="xs:long" minOccurs="0" maxOccurs="1"/>
      <!-- Experiment properties (saved directly to MCexperiment node) -->
      <xs:element name="boxID" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="experiment" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="stim" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="conc" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="comment" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="comment2" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="strain" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="sex" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="cond1" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="cond2" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="imagesDirectory" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema> 